.user-box {
    border: 0px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    word-break: break-all;
    border-radius: 20px;
    background-color:lightcyan;
  }

  .admin-box {
    border: 0px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    word-break: break-all;
    border-radius: 20px;
    background-color: lightsteelblue;
    margin-bottom: 20px;
    /*margin: 0 auto;     0 auto; → .admin-boxを中央寄せにしてる */
  }

.pre-wrap {
    white-space: pre-wrap; 
}