.dotted-box {
  border:2px dotted #FFCC66; padding:10px; margin:10px 5px; line-height:1.5; width: 80%;
}


.box{
  display: inline-block;
  font-size: 1em;
  margin:5px;
}

.boxContainer{
  font-size: 0;
}

.resizeimage img { width: 80%; }