<!--コンテンツヘッダーを挿入-->
<app-contents-header></app-contents-header>
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->

<body class="myContainerMain">
    <h1>ベンゾジアゼピン概略</h1>
    <div style="border:5px dotted #FFCC66; padding:10px; margin:10px 5px; line-height:1.5; width: 80%">
    飲み続けていませんか…？ ソラナックス、デバス、レンドルミン、サイレース、フルニトラゼパム、アルプラゾラム、ロラゼパム、メイラックス、レキソタン、ユーロジン、ランドセン、リボトリール、エバミール、ロフラゼプ酸、etc...
    <br />
    <p>このサイトは、なにも知らずに飲み続けている７百万人のベンゾジアゼピン系おクスリ服用者の方のために、わたしの実体験にもとづいて作りました。</p>
    </div>
    <br />
    世界中で処方されているほとんどの睡眠薬・抗不安薬・筋弛緩薬が、<font color="#CC0000">ベンゾジアゼピン</font>というおクスリです。 <br />
    <br />
    ベンゾジアゼピン系薬剤は、英国、豪州、デンマークなどで処方が規制され、麻薬扱いです。 <br />
    <span style="color: rgb(255, 0, 0);">ベンゾジアゼピン薬剤が重篤な依存性を持つことは、それらの国々では常識</span>で、処方期間は2~4週間を超えてはならない、と法規制されています。
    <span style="color:#0066FF"><strong>注意：</strong> 海外の情報に調査を入れた結果、安易な処方は日本だけでなくほぼ世界中で蔓延しております。法規制のある上国ですら、です。
    したがって日本以外のアジア各国では認識さえされていません。</span>
    <br />
    ベンゾジアゼピン系薬剤はふたつに分類されます。ひとつは睡眠薬(sedative-hypnotics)、そして抗不安薬(anxiolytics)。
    <font color="#FF0000">睡眠薬としての処方率（絶対量ではありません）は日本が世界最悪となっています。</font>（2015年INCBデータS-DDD値より）
    <img src="../../../assets/images/INCB2015data.png" alt="S-DDD値 2015年INCBデータ" width="500" height="516" />
    <span style="font-size: x-small;">(S-DDD値： 人口1000人中何錠消費されているか、1日あたりの単位。 日本は1日に57錠／千人あたり 睡眠薬が使用されている。anxiolytics: 抗不安薬、sedative-hypnotics: 睡眠薬）</span>
    抗不安薬については国産ベンゾ「デパス」を2mg=１錠換算での計算で13位。両剤あわせたベンゾ全てでS-DDD値は世界４位の消費率です。
    <div style="border:2px dotted #FFCC66; padding:10px; margin:10px 5px; line-height:1.5; width: 80%">【なぜ最大薬害なのか】<br />
    <br />
    ー被害者数比較ー <br />
    薬害エイズ：1800人 <br />
    薬害肝炎：推定10,000人以上 <br />
    子宮頸がんワクチン：1,739人以上 <br />
    <br />
    ベンゾジアゼピン：推定3,650,000人(<a href="http://benzoinfo.jp/blog-entry-5.html">長期服用者730万人</a>のうち半数が依存形成と計算）<br />
  　※しかも半世紀前から"一生飲んでも問題のない薬"として連綿と処方され続け、その間に犠牲となった被害者は含みません。
    </div>
    <br />
  <span style="color: rgb(51, 153, 102);">発作時だけなど頓服として、または数日間の一時的な使用であれば、即効性もあり非常に良いおクスリです。</span>手術前や救急などに使用されることもあります。  <br />
    しかし、長期連用すると少量であっても"常用量依存"といってやめるのが非常に難しくなります（精神依存ではなく身体依存です。英語ではdependencyといいヤク中やアルコール依存のaddictionやabuseとは異質なものです）<br />
    <br />
    <span style="color: rgb(255, 0, 0);">急な断薬</span>もしくは
    <span style="color: rgb(255, 0, 0);">短期間の減薬</span>ですと、
    <font color="#CC0000">「生き地獄」「拷問」</font>
    といってもいい離脱症状に何年も苦しむことになります。
    どのくらいの辛さかと言いますと<a href="http://benzoinfojapan.com/blog-entry-7.html" target="_blank" title="このくらい">このくらい</a>です。<br />
    <br />
    ベンゾからの離脱は覚せい剤、ヘロインよりもはるかに難しく、麻薬というより魔薬です。
    ただ、不思議なことにすべての長期連用者がなるのではなく、“約半数”の連用服用者のみが依存形成されます。<br />
    <br />
    なぜ半数の人たちは簡単にやめられるのか、薬理的な原因は解明されていません。しかし統計学的には諸説ありますがほぼ証明されています。1か月の連用で約半数が依存形成される、という説が有力です。
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/28328330">"Treatment of Benzodiazepine Dependence" by Michel Soyaka Ph.d</a><br />
    <br />
    日本でもいままで処方規制がないどころか、処方量内であれば一生飲んでも大丈夫なクスリ、という誤った認識で長い間安全とされ、容易に処方されてきました。
    ちなみに、<font color="#CC0000">ベンゾジアゼピン薬の処方の65<strong>％</strong>は「<strong>精神科以外</strong>」で処方されています。</font><br />
    例：<ul>
        <li>PMSで婦人科</li>
        <li>目眩で耳鼻科</li>
        <li>肩こりで整形外科</li>
        <li>アトピーで皮膚科</li>
        <li>頻尿で泌尿器科</li>
        <li>胃痛で神経内科</li>
        <li>顎関節症で歯科</li>
    </ul>
    <br />
    器質的な異常が見つからないと、どの医師も「安定剤（抗不安薬）を出しておこう」というわけですね。<br />
    とりあえずビール（ベンゾ）、くらい気軽に処方します。 海外では「キャンディーのように処方された」とよく言います。<br />
    <br />
    こうして、
    クスリ好きの日本人はいま約730万人がベンゾを長期服用しています。<a href="http://benzoinfo.jp/blog-entry-5.html">２０１８年１０月厚労省NDBオープンデータより積算</a>つまり、<span style="color:#FF0000">１２〜３人にひとり</span>が服用。
    この状況は他国でも同様で、米国では2000万人を超えるとされています。台湾、韓国ですと、正式なデータがないのですが現在5～6人にひとりでは?、という推計もあります。
  
    <div style="border:4px dotted #D4D4D4; padding:10px; margin:10px 5px; line-height:1.5; width: 80%">
    <p>これを読んでいるあなたもベンゾジアゼピン長期連用者かもしれません。
      もし、自分に常備薬があったら、
      ぜひ<a href="http://benzoinfo.blog.fc2.com/blog-entry-2.html" target="_blank"><font color="#3300FF">ベンゾジアゼピン系薬剤一覧ページ</font></a>をクリックして閲覧を！  
      ベンゾの種類はジェネリックも含めると40種におよびます。 <br />
    <br />
    自分は飲んでなかった？ それはよかった！ それでも家族は？親戚は？ 会社の同僚、部下、上司は？ <br />
    <font color="#FF0000">ベンゾ睡眠薬の中には米国などで麻薬と同等扱い、もちこむと逮捕・収監されてしまうものもあります。</font>（フルニトラゼパム、サイレース）。<br />
    <strong><br />
    あなたが経営者や人事なら、出張・赴任を命じる前に要チェックです！</strong></p>
    </div>
    <br />
    日本でもついに厚労省が、2017年3月21日、ベンゾジアゼピンの常用量依存について認め、全国の医療機関、調剤薬局に注意喚起を行いました。
    また、2018年4月からはベンゾ系薬剤の３剤規制が始まりました。<br />
    <br />
    「ベンゾジアゼピン系薬剤は依存性がある」 <br />
    イギリスに遅れること数十年、ようやく日本でもこの認識が浸透しつつあります。「気軽に処方していい薬ではないらしい」 <br />
    <br />
    ですが<strong>離脱症状の厳しさ、そして減薬方法</strong>については、まだほとんど共有されていません。 <br />
    <br />
    そして、ベンゾ系薬の危険性についてメディアではなぜかまったく取り上げられません。<br />
    この状況は世界中ででまったく同様です。<br />
    <br />
    <div style="border:4px dotted #D4D4D4; padding:10px; margin:10px 5px; line-height:1.5; width: 80%">
    <strong>減薬方法について</strong>
      <p>主治医のいうとおりのペースでやめていくと、例えば元々の症状であった不眠・不安以外にも摩訶不思議な症状がたくさんでてくるので、ベンゾ減薬による離脱症状と自分でわかります。<br />
    <br />
    （<span style="color: rgb(51, 153, 102);">出なかったらおめでとうございます！　あなたは「もう半数」の依存形成されなかったラッキーな方です！&#160; そのまま主治医の言うとおりのペースで減薬していってかまいません。</span>） <br />
    <br />
    離脱症状がでたら<font size="4"><font color="#FF0000">すぐにもとの容量に戻し</font></font>、必要なら増薬し、<font size="4"><font color="#CC0000">症状を安定させ</font></font>、それから水溶液タイトレーションによる年単位の減薬を行ってください！！ <br />
    <br />
    ※ <strong>主治医のいうとおりのペース例 </strong>＝ 「半分に割って数週，さらに4分の1で数週、そして０に。」</p>
    </div>
    <br />
    <br />
    自分は大丈夫だろう、と甘くみないで！！！  <strong>ベンゾの場合は数ヶ月での断薬は一気断薬と同じ</strong>と思ってください。<br />
    <br />
    短期で減断薬してしまいますと、断薬してからどんどん症状が激しくなっていき、半年～1年後に耐えられなくなって再服用してもまったく効果がありません。<br />
    <br />
    例外なケースに合わせて減薬してしまうと、<a href="http://benzoinfojapan.com/blog-entry-7.html">死んだほうがマシな恐ろしい症状に見舞われる</a>可能性があり、さらに後遺症が残ってしまうこともあります（もう一度言いますが、ベンゾの離脱症状は麻薬の禁断症状よりはるかに厳しいです） <br />
    <br />
    <br />
    <br />
    <span style="font-size:x-large;">後戻りはできません</span><br />
    <br />
    逆に、慎重に年単位で減薬していけば、毎日の減薬作業がちょっとめんどくさいだけで極小の症状で済み、働きながらでも少なくしていけるかもしれません。 <br />
    <br />
    <strong>まずはアシュトンマニュアル</strong>読んでください。<br />
    20世紀に作成されたので情報としては古いですがあなたの基礎知識を固める必須教科書だと思ってください。<br />
    アシュトンマニュアル日本語版はネットでダウンロードできます。 → <a href="https://www.benzo.org.uk/amisc/japan.pdf">こちら</a>
    <a href="http://www.benzo-case-japan.com/prof-ashton-japanese.php" target="_blank"></a>
  
    <div style="border:4px dotted #D4D4D4; padding:10px; margin:10px 5px; line-height:1.5; width: 80%">
    <p>//// 具体的な減薬方法 //// <br />
    <br />
    <a href="http://benzoinfo.blog.fc2.com/blog-entry-1.html" target="_blank">水溶液タイトレーションの方法</a>を参考にしてください。  ※ アシュトンマニュアルをすでに読んだ方はわかると思いますが、アシュトンマニュアルでも減薬ペースが速すぎるのです。また、アシュトンにも細かい間違いはいくつかあります。 このサイトやツイッター（開設予定）で粒度の小さな情報は発信していくので勉強してください。<strong>あなたの主治医はあなたです。</strong></p>
    </div>
  
  <!--id="beforeTwitterSharebutton"はツイッターシェアボタンのためのid. introduction.component.ts参照 -->
  <!--下記はまずFacebookボタン-->
  <table border="0">
      <thead>
            <tr>
            <th height="20px"></th>
            <th></th>
            <th></th>
            </tr>
      </thead>
    <tbody>    
      <tr>
        <td id="beforeFacebookSharebutton">
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbenzoinfojapan.com%2Fintroduction&layout=button&size=large&width=75&height=28&appId" width="75" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </td>
        <!--ここにTwitterボタン.<td>タグも作ります--> 
      </tr>
    </tbody>
  </table>
    <br />
    <br />
    <br />
    <br />
  </body>