<body class="myContainerMain">
  <div *ngFor="let item of doctorsarticles | async">
      <h1>{{ item.title }}</h1>    
      <h2 [innerHTML]="item.title_origin | safe: 'html'"></h2>
      <span style="color:gray">著者：</span><span [innerHTML]="item.author" style="color:gray;"></span><span style="margin-left: 40px; color:gray">{{ item.date }}</span>
      <p [innerHTML]="item.content | safe: 'html'"></p><!--CSSを効かせるときサニタイズ解除呪文（ | safe: 'html'）必要-->
      著者：<span [innerHTML]="item.author"></span>
      <p [innerHTML]="item.author_prof | safe: 'html'"></p>
      <br />
   <!--id="TwitterSharebutton"はツイッターシェアボタンのためのid. introduction.component.ts参照 -->
   <table border="0">
      <tbody>
        <th></th><th style="width:100%;"></th><th></th>
        <tr>
          <td id="beforeTwitterSharebutton"></td>
          <!--ここにTwitterボタン.<td>タグもintroduction.component.ts内のスクリプトで作ります-->
        </tr>
      </tbody>
    </table>
      <br />
      <br />
      <br />
  </div>

</body>
