<!--コンテンツヘッダー-->
<!--contents-containerは、ヘッダー部分84px上あける-->
<div class="contents-container">
    <!--contents-toolbarもまた、ヘッダー部分84px上あける-->
    <mat-toolbar color="primary" class="contents-toolbar">
      <button mat-icon-button [matMenuTriggerFor]="childrenMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #childrenMenu="matMenu">
         <!--バーガーメニューを表示する場合(*ngIf=…）はrouter.urlが/basics, /patients, /doctors, mediasの場合-->
         <ng-container *ngIf="router.url === '/basics' || router.url === '/basics/benzowords' || router.url === '/basics/benzolist' || router.url === '/basics/benzohistory'">
          <!--ベンゾ一般知識のページの場合のバーガーメニュー-->
          <button mat-menu-item routerLink="{{ item.url }}" *ngFor="let item of basicsdata">{{ item.title }}</button>
         </ng-container>
      </mat-menu>
      <h1 class="contents-app-name">{{ title }}</h1>
    </mat-toolbar>
  </div>

