<!--コンテンツヘッダーを挿入-->
<app-contents-header></app-contents-header>
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->


<mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>新着・更新情報</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="display: inline-block; margin: 20px">
          <div style="margin: 5px" matBadge="新" matBadgeColor="accent" matBadgePosition="above before" matBadgeOverlap="true"><a routerLink="forum">質問フォーラムページ</a>を追加しました。</div>
          <div style="margin: 5px" matBadge="新" matBadgeColor="accent" matBadgePosition="above before" matBadgeOverlap="true"><a routerLink="doctors-article/11">論文："Treatment of Benzodiazepine Dependence" by Michel Soyaka Ph.d</a>を追加しました。</div>
        </div>
    </mat-card-content>
</mat-card> 

<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar class="home-header-image"></div>
    <mat-card-title>このサイトの目的</mat-card-title>
    <mat-card-subtitle>ベンゾインフォジャパン</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="font-size:medium;">
      睡眠薬、抗不安薬のほとんどはベンゾジゼアピン系薬剤に分類されます。ベンゾジアゼピンは決められた処方用量を守って飲み続けても重篤な障害を引き起こします。日本だけでなく世界中で蔓延処方され約10人にひとりが服用し、
      1ヶ月連用すると約半数が依存形成されます。急にやめると離脱症状が生じ重症の場合は生き地獄と言っていいほどの苦痛で
      自死に至ったり、何年もの間苦痛に耐えた後、後遺症が一生残る場合もあります。<br /> 
      <br />「ベンゾの減薬は必ず数年かけてください！」<br /> 
      <br /> アルコール依存症や薬物依存とは同じ依存という言葉を使用するもののそれらとは異質なものです。<span style="color:red">ベンゾ依存は「薬物性神経機能障害」</span>と言えます。
     英語ですとaddictionではなく<strong>dependency, injury</strong>となります。
     <br />
     しかしベンゾジアゼピン系薬剤は半世紀前から製造販売されており、製薬会社はこの危険性に気づいていていながらベンゾ薬販売を制限することも警告することもありませんでした。
     より詳しくは<a routerLink="introduction">ベンゾジアゼピン概略</a>のページをご覧ください。
     <br />
     <br>このサイトはわたしの実体験をもとに、米国NPO団体<a href="https://www.benzoinfo.com">ベンゾジアゼピンインフォメーションコーリション（以下BIC)</a>の記事および<a href="http://www.benzobuddies.org/forum/index.php">ベンゾバディ</a>という世界最大の
              ベンゾ情報交換フォーラムの投稿を中心に、情報提供・啓蒙を目的に作成しました。引用・転載フリーですが、かならず「出典：<a href="https://benzoinfojapan.org">ベンゾインフォジャパン</a>」を追記してください（BICの記事には著作権があります。許可をいただいて翻訳しています）。
    </p>
  </mat-card-content>
</mat-card>

          
      <mat-accordion class="myContainerMain">
          <mat-expansion-panel style="z-index:1">
              <mat-expansion-panel-header>
                  <mat-panel-title class="myContainerMain">                  
                     <h1>利用規約</h1>
                  </mat-panel-title>
                  <mat-panel-description class="myContainerMain">
                  </mat-panel-description>
              </mat-expansion-panel-header>
            <p style="font-size:medium;">
                　当サイトは、ベンゾジアゼピン系薬に関する情報を必要とされている方々（以下「利用者」）が使用することを目的とします。
                <br>当サイトは、特定の有志（以下「サイト管理者」）によって設立・運営されております。特定の団体が運営するものではありません。
                <br>利用者の利便性のためにリンクされた他のサイトにアクセスする場合、それらのサイトは本サイトとは全く独立したものであり、本サイトはそれらのサイトの内容についていかなる権限ももちません。
                <br>当サイトの情報を利用しようとする利用者は、サイト内のいかなる記載内容を参考にする場合においても、それらに依存することなく、行動を起こす前に、記載内容に関連する国や自治体、医療機関、サービス提供者、製造者、等に確認を取った上で、自己責任で行ってください。
                <br>当サイトは、質問に対して必ずしも回答を保証しません。 
                <br /><br />
           <span style="color:red"> 当サイトの情報について情報の正確性、完全性について明示的か黙示的かを問わず、管理者であるわたしはいかなる責任も負いません。
              当サイトを利用される方は、自己の責任において利用することに同意されたものとし、当サイトの情報の利用により生じる損害について管理者であるわたしはあらゆる責任を放棄します。</span>
           <br /><br />   
          </p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="myContainerMain">
        <mat-expansion-panel style="z-index:1">
            <mat-expansion-panel-header>
                <mat-panel-title class="myContainerMain">                  
                   <h1>医療免責事項</h1>
                </mat-panel-title>
                <mat-panel-description class="myContainerMain">
                </mat-panel-description>
            </mat-expansion-panel-header>
          <p style="font-size:medium;">
              　当サイトは、ベンゾ離脱症状の病状と治療についての一般的な情報を発信していますが、あくまで情報であってアドバイスではありません。
              <br>当サイトの医療情報は明示または黙示を問わずいかなる保証もいたしません。「現状のまま」提供するものであります。
              <br>当サイトは、以下のことを保証しません。
                <li>当サイトの医療情報が常に入手可能である</li>
                <li>当サイトの医療情報が完全に正確である。または最新である。</li>
              <br>利用者は、主治医または他の専門医療提供者からの医療アドバイスに代わるものとして当サイト上の情報に頼ることはできません。医学的事項について具体的な質問がある場合は、医師または他の専門医療提供者に相談してください。
              <br>何らかの病状に苦しんでいる場合は、直ちに医師の診察を受けてください。
              <br>当サイトの医療情報をもって医学的助言を求めることを遅らせたり、医学的助言を無視したり、あるいは治療を中止しないようにしてください。 
              <br /><br /> 
        </p>
    </mat-expansion-panel>
  </mat-accordion>

  <br />

  <div class="myContainerMain">              
    <span style="color:red"> ※ 当サイトは反精神医療、反薬物療法、アンチドクターを訴えるいかなる団体・個人とも関係をもちません。</span>
  </div>
  <br />
  <br />
           
