<!--コンテンツヘッダーを挿入-->
<app-contents-header></app-contents-header>
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->

<div class="myContainerMain">
    <mat-card class="home-card">
        <mat-card-header>
          <div mat-card-avatar class="home-header-image"></div>
          <mat-card-title>{{ title }}</mat-card-title>
          <mat-card-subtitle>benzoinfojapan</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content>
          <p>
              睡眠薬、抗不安薬のほとんどはベンゾジゼアピン系薬剤といいます。ベンゾジアゼピンは決められた処方用量を守って飲み続けても重篤な障害を引き起こします。日本だけでなく世界中で蔓延処方され約10人にひとりが服用し、
              1ヶ月連用すると約半数が依存形成されます。急にやめると離脱症状が生じ重症の場合は生き地獄と言っていいほどの苦痛で
              自死に至ったり、何年もの間苦痛に耐えた後、後遺症が一生残る人も多いです。 
             「ベンゾの減薬は必ず数年かけてください！」
             アルコール依存症や薬物依存とは同じ依存という言葉を使用するもののそれらとは異質なものです。ベンゾ依存は「薬物性神経機能障害」と言えます。
             英語ですとaddictionではなくdependency, injuryとなります。
             <br />
             医師も含めなぜ誰も気づかないのか？ まず第一に医師は医学校や臨床でこのことを学びません。第二に、ベンゾジアゼピン系薬剤を長期間服用しても不思議なことに簡単に退薬できる人が約半数います。
             第３に患者の外見では離脱症状の辛さを理解できず、どんな医療検査機器を用いても神経内伝達物質を測る方法がないからです。
             <br />
             しかしベンゾジアゼピン系薬剤は半世紀前から製造販売されており、製薬会社はこの危険性に気づいていてイギリスでは２０世紀のうちにガイドラインと規制が敷設されました。
             <br />
             しかし規制最先端国のイギリスですらいまだに「キャンディーのように」処方されることもあり、ましてその他各国では「安全な薬」として蔓延処方されつづけています。
             <br />
             このサイトは<a href="https://www.benzoinfo.com">ベンゾジアゼピンインフォメーションコーリション</a>という米国NPO団体の記事を中心に、患者（被害者）、ドクター、そしてメディアのみなさまに
             わかりやすく最新の情報を提供しベンゾジアゼピンについて学んでほしい思いで作成しました。減薬方法などはわたし自身の実体験、また日本独自の情報はわたしの調査によって付け加えられています。
             <br /><br />   
          </p>
        </mat-card-content>
      </mat-card>
</div>
