<!--コンテンツヘッダーを挿入-->
<app-contents-header></app-contents-header>
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->

<div class="myContainerMain">
    <mat-card class="home-card">
        <mat-card-header>
          <div mat-card-avatar class="home-header-image"></div>
          <mat-card-title>{{ title }}</mat-card-title>
          <mat-card-subtitle>benzoinfojapan</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content>
          <p style="font-size:medium">
              睡眠薬、抗不安薬のほとんどはベンゾジゼアピン系薬剤に分類されます。ベンゾジアゼピンは決められた処方用量を守って飲み続けても重篤な障害を引き起こします。日本だけでなく世界中で蔓延処方され約10人にひとりが服用し、
              1ヶ月連用すると約半数が依存形成されます。急にやめると離脱症状が生じ重症の場合は生き地獄と言っていいほどの苦痛で
              自死に至ったり、何年もの間苦痛に耐えた後、後遺症が一生残る場合もあります。<br /> 
             「ベンゾの減薬は必ず数年かけてください！」
             アルコール依存症や薬物依存とは同じ依存という言葉を使用するもののそれらとは異質なものです。<strong>ベンゾ依存は「薬物性神経機能障害」</strong>と言えます。
             英語ですとaddictionではなくdependency, injuryとなります。
             <br />
             しかしベンゾジアゼピン系薬剤は半世紀前から製造販売されており、製薬会社はこの危険性に気づいていていながらベンゾ薬販売を制限することも警告することもありませんでした。
             より詳しくは<a routerLink="introduction">ベンゾジアゼピン概略</a>のページをご覧ください。
             <br />
             <br />
             このサイトはわたしの実体験をもとに、米国NPO団体<a href="https://www.benzoinfo.com">ベンゾジアゼピンインフォメーションコーリション（以下BIC)</a>の記事および<a href="http://www.benzobuddies.org/forum/index.php">ベンゾバディ</a>という世界最大の
             ベンゾ情報交換フォーラムの投稿を中心に、情報提供・啓蒙を目的に作成しました。引用・転載フリーですが、かならず「出典：<a href="https://benzoinfojapan.org">ベンゾインフォジャパン</a>」を追記してください（BICの記事には著作権があります。許可をいただいて翻訳しています）。
             <br /><br />
             <span style="color:red">※ 当サイトの情報について情報の正確性、完全性について明示的か黙示的かを問わず、管理者であるわたしはいかなる責任も負いません。
             本サイトを利用される方は、自己の責任において利用することに同意されたものとし、本サイトの情報の利用により生じる損害について管理者であるわたしはあらゆる責任を放棄します。</span>
             <br /><br />
             <span style="color:red">※ 当サイトは反精神医療、反薬物療法、アンチドクターを訴えるいかなる団体・個人とも関係をもちません。</span>
             <br /><br />   
          </p>
        </mat-card-content>
      </mat-card>
</div>
