<body class="myContainerMain">
  <h1>{{title}}</h1>
  <div>
    <p>Most sleeping pills, anxiolytics and muscle relaxants prescribed around the world are benzodiazepines.<br>
      Benzodiazepines prescribed in the UK, Australia and Denmark are restricted, 
      and are classified in the same way as narcotics in other developed countries too. 
      There are guidelines in every country that benzodiazepines have severe physical 
      dependence and its prescription should not exceed 2 to 4 weeks, and some medications have 
      precautions on labels, for example, Ativan (Lorazepam). At last in Japan, 
      the Ministry of Health, Labor and Welfare alerted about Benzodiazepine dependency in 2017, 
      and the pollypharmacy regulation took place in 2018 (max three types). 
      For half a century it was prescribed with the common sense of "can be used for a lifetime", 
      but the common sense is finally collapsing. By the way, in the United States as well
      it has been said that “You could take the medicine indefinitely”.
      As a result of my investigating overseas information, easy benzos prescriptions are spreading not only in Japan 
      but almost all over the world. Even Australia which is with the most advanced regulations. 
      It may be because there is no system to ban in the regulation that makes it impossible to prescribe 
      for long-term or no any penalties. Therefore, it is not even recognized in Asian countries 
      other than Japan. There are no doctors who know the dangers of benzo (0 doctor) in Hong Kong.
      In addition, looking at the latest INCB report, the number in India has increased dramatically 
      over the past few years. It seems that it is targeted as an sky-rocketing market. 
      The S-DDD value (discussed below) is still a single digit, but the total population is so huge 
      that the total number of users may have exceeded that of Japan. There are many complaints 
      that said Japan's distructive situation, but unfortunately or fortunatelly, 
      the problem of benzo is not only a terrible problem in Japan but also is a problem all over the world. 
      This site will give you the correct information, focusing on the situation in the US with the largest benzo consumer, 
      probably 20-30 million benzo users.</p>
      <p></p>
      <p>Benzodiazepines are classified into two categories. One is sedative-hypnotics and the other anxiolytics. 
        INCB (International Narcotics Control Committee) collects consumption data of them worldwide. Here is the introducing the latest data.<br>
      Left (upper) is a sleeping pill (sedative-hypnotics), right (lower) is an anxiolytic (anxiolytics)</p>
      <div class="box-Container">
          <div style="display: inline-block; vertical-align: top"><img alt="S-DDD value, 2016,INCB" src="../../../assets/images/introduction-e1.png" width="450"></div>
          <div style="display: inline-block; vertical-align: top"><img alt="S-DDD value, 2016,INCB" src="../../../assets/images/introduction-e2.png" width="450"></div>
          </div>
      <p></p>
      <p>(S-DDD value: How many tablets are consumed per day per 1,000 population. 
        For examle In Japan, 52 sleeping pills / day / 1,000 people are used.)</p>
      <p>As for anxiolytic drugs, the most prescribed benzo “depas(etizolam)” in Japan is not counted in the above INCB data. 
        Therefore, the Japanese S-DDD value of an anxiolytic is as low as 19, 
        but it turns 40 when 21 of Depas etizolam is also counted. 
        (Converted with 2mg = 1 tablet from the data of Ministry of Health, Labor and Welfare 2nd NBD Open Data). 
        And it is a graph of the S-DDD value of the whole benzodiazepine which added both.</p>
        <p class="resizeimage"><img alt="S-DDD value, 2016,INCB" src="../../../assets/images/introduction-e3.png"></p>
      <p></p>
      <p><span style="font-weight:bold;">Japan's S-DDD value is 9th worst in the world</span><br>
      Consumption of 92 tablet out of 1,000 people per a day.<br>
      As there are many polypharmacy in Japan, an average of 1.9 tablets per person.<br>
      Since it is being taken into account, it will be calculated as one benzo user in 19 people, 
      but domestic benzo "Depas" has 0.25mg, 0.5mg and 1mg tablet, with considerating of it, 
      actually about one of 12-13 people are taking benzo I guess. 
      In 2015, the S-DDD value was 100, which was the fourth worst in the world, 
      so it has improved slightly. But it would be rather to understand that the status is
      getting worse in other countries over the world than Japan has improved.</p>
      <p>Looking at the case of the United States, the S-DDD value is about 65 users
        per 1,000 people in 2016 (was 55 in 2015). Since the United States is a basically single-dose, 
        there are roughly one user of 14 people. With a population of 330 million, 
        the absolute amount is the world's largest 22 million tablets per day (≒ 22 million users).</p>
      <p></p>
      <p>In Europe, it is the birth place of benzo (Roche, Switzerland, 1955 succeeded in developing the first benzodiazepine 'Diazepam'). 
        The consumption rate of anxiolytic drugs is tremendous, and the order changes frequently. 
        Looking at the table above, Finland and Ireland are supposed to be devastating. Is one of two taking? 
        If you look at Wikipedia, there looks a statement that they have a strict guidline, 
        but in fact it is just an alert message that may not be law-enforcement.</p>
      <p></p>
      <p>Finally in Asia. It is said that in Taiwan and Hong Kong, 
        which are not included in INCB data, one in five to six people is taking it. 
        In particular, Taiwan seems to be the worst in Asia and despairing in the country, 
        and there is little information (no Ashton manual in Chinese version). 
        Therefore Injured-people who can speak very few foreign languages ​​rely on this site and other Japanese blogs and English forums.
        In Taiwan, I could get the specific data by the help of Twitter follower(Taiwanese).<br>
      Of the 23 million population, there are 4.26 million takes sleeping pills. 
      One in ten people suffer from insomnia and one in five people are taking sleeping pills. 
      The data is by National Federation of Pharmacists from Taiwan. 
      It may be the worst in Asia, and if INCB picks up Taiwan data, it will overtake Belgium and come into the third worst in the world. 
      Reference article: 
      <a _ngcontent-c8="" href="https://tw.news.yahoo.com/%E5%9C%8B%E4%BA%BA%E5%B9%B4%E5%90%9E9%E5%84%84%E9%A1%86%E5%AE%89%E7%9C%A0%E8%97%A5-215008902.html">國人年吞9億顆安眠藥</a></p>
      <p></p>
      <br>
      <p><span style="font-weight:bold;">[Why is it the biggest medication scandal in Japan?]</span><br>
      -Comparison of the number of victims-<br>
      HIV-tainted blood scandal: 1800<br>
      meds-induced hepatitis: Estimated over 10,000 people<br>
      Uterine cervix cancervaccine : 1,739+<br>
      Benzodiazepines: Estimated 3.5 million at the moment 
      (a half of the 7.3 million long-term users accounted for benzo dependence formation)</p>
      <p></p>
      <p>* In addition, victims who were sacrificed during the
        peoriod have not been included, the peoriod since they have been prescribed as "like a candy" 50 years ago until sufferer's death. 
        At the beginning, I used to mean “Japan's biggest scandal”, but after investigating countries around the world, 
        I came to recognize that this is literally the biggest in human history. 
        It’s an agitating expression that seems to be awkward, but I can't help but to say it’s just a fact.</p>
      <p></p>
      <br>
      <p>Now, benzodiazepine is a very good medication with immediate effect 
        if it is used to be taken only once or if it is used for only a few days. 
        It is often used before surgery or in emergency situations. However, 
        even if a small amount is used for a long time, it becomes very difficult to stop.
        "dependent on benzodiazepine" (it is physical dependence, not mental addiction. It's totally different). 
        There is no mental craving, and even if you want to quit, you can't stop due to a number of intense withdrawal symptoms.
        If you cold-turkey it or reduce with rapid tapering, 
        you will suffer from withdrawal symptoms that can be called “living hell” or “torture beyond the human belief” for years. 
        For example, this is how horrifiedit is; 
        <a href="https://www.benzoinfo.com/2018/04/13/christines-story-ativan-withdrawal-akathisia-and-suicide/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=latest_from_benzodiazepine_information_coalition&amp;utm_term=2018-04-23">CHRISTINE’S STORY: ATIVAN, WITHDRAWAL, AKATHISIA AND SUICIDE</a>. 
        This is clearly not “addiction” but “central nervous system injury” . 
        See this<a href="https://benzoinfojapan.org/doctors-article/3" target="_blank">message</a>of a woman who committed suicide.</p>
      <p></p>
      <p>Therefore, withdrawal from benzo is much more difficult than narcotics such as LSD and heroin. 
        There is no other way than waiting for the broken nerve system to recover year by year while gradually reducing the dose, 
        which is called 'micro-tapering'. There is no cure. Strangely, among long-term users, 
        only “about a half” users forms dependent. 
        The other half has no withdrawal symptoms and can easily quit.
         (That's one of reasons why most doctors didn't even notice the danger of benzo in the medical field.)
         The pharmacological cause of why a half of users can easily quit is still unknown. 
         However, there are various theories in the statistics. 
         The theory is that about a half of them are physically dependent after one month of continuous use. 
         Reference paper: "<a href="https://www.ncbi.nlm.nih.gov/pubmed/28328330" target="_blank">Treatment of Benzodiazepine Dependence" by Michel Soyaka Ph.d</a></p>
      <p></p>
      <br>
      <p>By the way, 65% of prescriptions of benzodiazepines are done at “non-psychiatric” in Japan. Example:</p>
      <p>At;<br>
      Gynecology to PMS<br>
      Otolaryngology to dizziness<br>
      Orthopedic surgery to stiff shoulders<br>
      Internal medicine to high blood pressure<br>
      Urination to frequent urination<br>
      Neurology to gastric pain<br>
      Dentistry to temporomandibular disorders</p>
      <p>If no organic abnormalities are found, many doctors think “Ok, let's give a stabilizer”. 
        It's like "Toriaezu, beer" at a Japanese bar. Overseas, they often use the expression “prescribed like a candy”. 
        In fact, patients are happy because it works well at first. If the risk is not explained, 
        continue taking it. 
        Doctors are also happy because the patient is satisfied and their task is just writing the prescription.
        So you may possibly be a long-term benzodiazepine taker too. There are rarely
        prescribers who give an informed consent, "This is a risky one when taking for a long time." 
        On the contrary, usually saying “it is a weak and safe meds, don't worry”. 
        If you have a regular meds on daily basis, check out the <a href="basics/benzolisteng" target="_blank">benzodiazepine list page</a>!
        And if you find you have a bingo, do not stop it without learning the safe tapering method!</p>
      <p></p>
      <br>
      <p><span style="color:#ff0000;"><span style="font-weight:bold;">To all foreigners living in Japan</span></span></p>
      <p><span style="color:#ff0000;">In Japan, 34 types of benzodiazepines can be prescribed</span>, 
        and if including generics, you will not know what you are taking. (In US only four types, in Euro may have 4 -10 types). 
        Please check the <a href="basics/benzolisteng" target="_blank">benzodiazepine list page english version</a> !!</p>
      <p></p>
      <br>
      <p><span style="font-weight:bold;">How medias report it?</span></p>
      <p>In Japan, the Ministry of Health, Labor and Welfare finally recognized the dependence of benzodiazepine of
        the compliant patientson March 21, 2017, 
        and alerted medical institutions and dispensing pharmacies nation wide in April 2018, 
        the regulation of max three types pollypharmacy began. “Benzodiazepines are risky.” 
        Decades behind Britain have finally gained perception in Japan; 
        “It seems that it is not a meds that can be easily prescribed.”<br>
      However, the severity of withdrawal symptoms and safe withdraw methods are not yet shared in
      the medical community. And this dangerous side-effect of
      benzos are not covered in the media at all. The situation is similar all over the world. 
      It may be thought to be the pressure of a pharmaceutical company (but may not only). Anyway, 
      out of the total population of 1.2 billion in Japan, the United States and Europe, 
      about 100 million people are estimated taking benzodiazepine. There are also many in Oceania, 
      South America, India, and the Middle East as well. In Southeast Asia, 
      the over-the-counter is available without a prescription, so the data there is unknown.
      I hear that the number of victims of World War II is around 80 million worldwide. 
      If benzo case is widely known it will be an unprecedented mess. 
      It could be natural for governor/administration to set a press regulation.</p>
      <p></p>
      <br>
      <p><span style="font-weight:bold;">Class Action</span></p>
      <p>In 1980, when the benzo damage was revealed in the UK, 
        it caused the largest class action in a history by 14,000 patients and 1,800 law firms. 
        The lawsuit insists that the pharmaceutical manufacturer knew the possibility of dependence 
        but deliberately withheld this information from the doctor.
         (Unfortunately, the lawsuit itself drowned due to lack of funds). 
         This class action led to the regulation that "doctors have to give appropriate warnings to patients 
         about the benzodiazepine dependence and risk of withdrawal syndrome, and patients must sign the consent form that they received risk explanations" .</p>
      <p></p>
      <br>
      <p><span style="font-weight:bold;">How to taper</span></p>
      <p>So for now, you have to protect yourself and your family. 
        If you stop at the pace your doctor instructs,
        many mysterious symptoms occurs in addition to the original symptoms such as insomnia and anxiety.
        Your doctor may say that it is the “original symptom,” 
        but it’s symptoms are on a plane above the rest. 
        If it is mild to moderate, it is likely to be misdiagnosed as “fibromyalgia”, “chronic fatigue syndrome” 
        or “body expression disorder”. 
        See <a href="https://benzoinfojapan.org/doctors-article/6" target="_blank">HOW BENZODIAZEPINES MIMIC CHRONIC ILLNESS AND WHAT TO DO ABOUT IT</a>.</p>
      <p>Congratulations if you have no withdrawal symptoms! 
        You are a lucky person who hasn't formed the phisical dependence.
         You can just drop the meds at the pace according to your doctor says.<br>
      As soon as withdrawal symptoms occur, take the meds again and return to the original volume, 
      or if necessary, increase the dosage to stabilize the symptoms. !<br>
      * Pace example as your doctor instructs you = “Divide a tablet in a half and take it for a few weeks, 
      next a quarter in a few weeks, and then down to zero.”</p>
      <p></p>
      <br>
      <p>Don't underestimate like you'll be fine. 
        In the case of benzo, you should think that stopping in a few months is the same as cold-turkey. 
        If cutting off in a short period of time, the symptoms will become more severe after it.
        Then when you thought it's unbearable after months or a year and want to reinstate it to try tapering again from a scratch, 
        the reinstatement will not have any effect. 
        If you did rapid withdrawal according to an exceptional case, 
        you may experience terrible terrible symptoms, and you may still have sequelae after healing yourself. 
        DO NOTPLAY "Russian roulette" ON YOURSELF.</p>
      <p>On the other hand, if you carefully taper the dose on a yearly basis,
        you will have minimal symptoms and may be able to withdraw while you work.
        Please read the Ashton manual first. Since it was created in the 20th century, 
        it is old information, but please consider it an essential textbook to solidify your basic knowledge. 
        You can download the Ashton Manual online. → Click <a href="http://www.benzo-case-japan.com/docs/Ashton_Manual_English.pdf" target="_blank">here</a></p>
      <p></p>
      <p>However, if you have already read the Ashton Manual, 
        you may understand that the sample withdrawal pace in the Ashton Manual is still too fast. 
        There are also some minor mistakes in Ashton. 
        After reading the Ashton Manual, read <a href="https://benzoinfojapan.org/doctors-article/2" target="_blank">BENZODIAZEPINE TAPERING STRATEGIES AND SOLUTIONS</a>. 
        When you start the tapering, you need your own customization that only you know. 
        Please study on this site and Twitter which tweeting small information on regular basis.</p>
      <p></p>
      <br>
      <p>"Your doctor is yourself"</p>
      <p></p>
      <p></p>
  </div>
  <p></p>
    
  <!--id="TwitterSharebutton"はツイッターシェアボタンのためのid. introduction.component.ts参照 -->
  <table border="0">
    <tbody>    
      <tr>
        <td id="beforeTwitterSharebutton"></td>
        <!--ここにTwitterボタン.<td>タグもintroduction.component.ts内のスクリプトで作ります-->
      </tr>
    </tbody>
  </table>
    <br />
    <br />
    <br />
</body>
