<!--コンテンツヘッダーを挿入-->
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->


<body class="myContainerMain">
<div class="container"> 
    <h1>{{ title }}</h1>
      <h2><b>抗不安薬・睡眠薬等価換算表</b></h2>
      <p>※ 日本では34種類のベンゾジアゼピン系薬剤が処方可能となっている（米国では5種類）。
        そのため自分がベンゾを飲んでいるのかわかりにくい場合が多いと思います。
        ぜひ自分の常用薬をチェックしてみてください。一般名となっているのがジェネリック名と同じです。</p>
      <span style="color:#ff0000; font-size:0.83em;">※ 等価量の数字が小さいほど力価が強い</span>

      <table bgcolor="#F8F8FF" border="1" cellpadding="2" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="2" style="text-align: center; font-size:0.83em;"><strong>薬 効</strong></td>
            <td nowrap="2" rowspan="2" style="text-align: center; font-size:0.83em;"><strong>一般名</strong></td>
            <td rowspan="2" style="text-align: center; font-size:0.83em;"><strong>商品名</strong></td>
            <td rowspan="2" style="text-align: center; font-size:0.83em;"><strong>半減期</strong><br><span style="font-size:0.7em;">[活性代謝物]</span></td>
            <td colspan="2" style="text-align: center; font-size:0.83em;"><span style="color:#ff0000;"><strong>等価量</strong></span></td>
          </tr>
          <tr>
            <td style="text-align: center; font-size:0.83em;"><strong>世界基準</strong></td>
            <td style="text-align: center; font-size:0.83em;"><strong>稲田式</strong></td>
          </tr>
          <tr>
            <td style="font-size:0.83em;"><strong>標 準</strong></td>
            <td nowrap="nowrap" style="font-size:0.83em;">ジアゼパム</td>
            <td style="font-size:0.83em;">セルシン、ホリゾン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">20-100 <br>[36-200]</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="17" style="text-align: center;"><strong>抗 不 安 剤</strong></td>
            <td nowrap="nowrap" style="font-size:0.83em;">アルプラゾラム</td>
            <td style="font-size:0.83em;">ソラナックス､コンスタン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">6-12</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.25</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.8</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">エチゾラム</td>
            <td style="font-size:0.83em;">デパス、エチゾラム</td>
            <td nowrap="nowrap" style="font-size:0.83em;">6</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">オキサゾラム</td>
            <td style="font-size:0.83em;">セレナール</td>
            <td nowrap="nowrap" style="font-size:0.83em;">24</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">20</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">クロキサゾラム</td>
            <td style="font-size:0.83em;">セパゾン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">16</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">クロチアゼパム</td>
            <td style="font-size:0.83em;">リーゼ、リルミン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">6</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">クロラゼプ酸</td>
            <td style="font-size:0.83em;">メンドン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">[36-200]</td>
            <td nowrap="nowrap" style="font-size:0.83em;">7.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">7.5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">クロルジアゼポキシド</td>
            <td style="font-size:0.83em;">コントール、バランス</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5-30 <br>[36-200]</td>
            <td nowrap="nowrap" style="font-size:0.83em;">12.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">タンドスピロン</td>
            <td style="font-size:0.83em;">セディール</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.1</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">25</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">トフィソパム</td>
            <td style="font-size:0.83em;">グランダキシン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.8</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">125</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">フルジアゼパム</td>
            <td style="font-size:0.83em;">エリスパン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">23</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">フルタゾラム</td>
            <td style="font-size:0.83em;">コレミナール</td>
            <td nowrap="nowrap" style="font-size:0.83em;">3.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">15</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">フルトプラゼパム</td>
            <td style="font-size:0.83em;">レスタス</td>
            <td nowrap="nowrap" style="font-size:0.83em;">[190]</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.67</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ブロマゼパム</td>
            <td style="font-size:0.83em;">レキソタン、セニラン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10-20</td>
            <td nowrap="nowrap" style="font-size:0.83em;">2.5-3</td>
            <td nowrap="nowrap" style="font-size:0.83em;">2.5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">メキサゾラム</td>
            <td style="font-size:0.83em;">メレックス</td>
            <td nowrap="nowrap" style="font-size:0.83em;">60-150</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.67</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">メダゼパム</td>
            <td style="font-size:0.83em;">レスミット</td>
            <td nowrap="nowrap" style="font-size:0.83em;">36-200</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ロフラゼプ酸</td>
            <td style="font-size:0.83em;">メイラックス</td>
            <td nowrap="nowrap" style="font-size:0.83em;">122</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.67</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ロラゼパム</td>
            <td style="font-size:0.83em;">ワイパックス</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10-20</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.2</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="14" style="font-size:0.83em;"><strong>睡 眠 剤</strong></td>
            <td nowrap="nowrap" style="font-size:0.83em;">エスゾピクロン</td>
            <td style="font-size:0.83em;">ルネスタ</td>
            <td nowrap="nowrap" style="font-size:0.83em;">6 <br>(高齢者は9)</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">エスタゾラム</td>
            <td style="font-size:0.83em;">ユーロジン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10-24</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.5-1</td>
            <td nowrap="nowrap" style="font-size:0.83em;">2</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">クアゼパム</td>
            <td style="font-size:0.83em;">ドラール</td>
            <td nowrap="nowrap" style="font-size:0.83em;">25-100</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
            <td nowrap="nowrap" style="font-size:0.83em;">15</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ゾピクロン</td>
            <td style="font-size:0.83em;">アモバン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5-6</td>
            <td nowrap="nowrap" style="font-size:0.83em;">7.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">7.5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ゾルピデム</td>
            <td style="font-size:0.83em;">マイスリー</td>
            <td nowrap="nowrap" style="font-size:0.83em;">2</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">トリアゾラム</td>
            <td style="font-size:0.83em;">ハルシオン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">2</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.25</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.25</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ニトラゼパム</td>
            <td style="font-size:0.83em;">ベンザリン、ネルボン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">15-38</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ニメタゼパム</td>
            <td style="font-size:0.83em;">エリミン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">21</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ハロキサゾラム</td>
            <td style="font-size:0.83em;">ソメリン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">42～160</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">5</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">フルニトラゼパム</td>
            <td style="font-size:0.83em;">ロヒプノール、サイレース</td>
            <td nowrap="nowrap" style="font-size:0.83em;">18-26 <br>[36-200]</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">フルラゼパム</td>
            <td style="font-size:0.83em;">ダルメート、ベノジール</td>
            <td nowrap="nowrap" style="font-size:0.83em;">[40-250]</td>
            <td nowrap="nowrap" style="font-size:0.83em;">7.5-15</td>
            <td nowrap="nowrap" style="font-size:0.83em;">15</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ブロチゾラム</td>
            <td style="font-size:0.83em;">レンドルミン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">7</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.25</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">リルマザホン</td>
            <td style="font-size:0.83em;">リスミー</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10.5</td>
            <td nowrap="nowrap" style="font-size:0.83em;">&nbsp;</td>
            <td nowrap="nowrap" style="font-size:0.83em;">2</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">ロルメタゼパム</td>
            <td style="font-size:0.83em;">エバミール、ロラメット</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10-20</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.5-1</td>
            <td nowrap="nowrap" style="font-size:0.83em;">1</td>
          </tr>
          <tr>
            <td rowspan="2" style="text-align: center;"><strong>抗 痙 攣 剤</strong></td>
            <td nowrap="nowrap" style="font-size:0.83em;">クロナゼパム</td>
            <td style="font-size:0.83em;">リボトリール、ランドセン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">18-50</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.25</td>
            <td nowrap="nowrap" style="font-size:0.83em;">0.25</td>
          </tr>
          <tr>
            <td nowrap="nowrap" style="font-size:0.83em;">クロバザム</td>
            <td style="font-size:0.83em;">マイスタン</td>
            <td nowrap="nowrap" style="font-size:0.83em;">12-60</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
            <td nowrap="nowrap" style="font-size:0.83em;">10</td>
          </tr>
        </tbody>
      </table>
     <div style="display:inline">※ 出典：<a href="http://www.benzo-case-japan.com/benzodiazepines-japanese.php" target="_blank">Benzo Case Japan</a></div> 
     <br />
     <br>
  <!--id="TwitterSharebutton"はツイッターシェアボタンのためのid. introduction.component.ts参照 -->
  <table border="0">
      <tbody>    
        <tr>
          <td id="beforeTwitterSharebutton"></td>
          <!--ここにTwitterボタン.<td>タグもintroduction.component.ts内のスクリプトで作ります-->
        </tr>
      </tbody>
    </table>
      <br />
      <br />
</div>
</body>
