/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.list-card {
    max-width: 80%; max-width: 1024px;
}
  
.list-header-image {
    background-image: url('../../../../assets/images/flower-avatar.jpg');
    background-size: cover;
}