/* 文字列折り返し用CSS。複数行には対応できない */
/* https://dev.classmethod.jp/ria/string-replace-css-and-jquery/ */
table td {
	overflow: hidden;
	border: 0px;
	padding: 10px;
	max-width: 280px;
	background:white;
	line-height: 1.0;
	white-space: nowrap;
}

/* 画像をボタンにするCSS */
.playbutton {
	width: auto;
	padding:0;
	margin:0;
	background:none;
	border:0;
	font-size:0;
	line-height:0;
 	overflow:visible;
	cursor:pointer;
}