<body class="myContainerMain">
<div class="container">
  <h1>ベンゾジアゼピン離脱症状一覧</h1>
  <p>
  ※ 下記すべての症状を呈するわけではありません。<br>
  ※ 軽症ステージでも複数の関連性のない奇妙な症状群を発症します。
  例えば…、倦怠感＋微熱(どんなに安静にしていても治らず)、血圧変動、動悸(自分で脈を取って確認するとまったく問題がない)、
  咳喘息様症状(呼吸器内科で処方された吸入ステロイドが効かない)、着席中に脚がピクンと跳ねる、小さな耳鳴り、軽い焦燥感、
  等々といったような。<br>
  あまりの奇妙さと精密検査でまったく異常が見つからないので、冗談ではなく霊障だろうかと勘違いしがちです。
  </p>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
    <!-- Position Column -->
    <ng-container matColumnDef="SymptomNameJ">
      <mat-header-cell *matHeaderCellDef> 症状名 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SymptomNameJ}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="SymptomNameE">
      <mat-header-cell *matHeaderCellDef> 症状名(English) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SymptomNameE}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <br><br>
    参考記事：
<div style="margin-right: 10px;"><i class="material-icons">link</i>アシュトンマニュアル</div>
<div style="margin-right: 10px;"><i class="material-icons">link</i><a href="doctors-article/11">Treatment of Benzodiazepine Dependence</a></div>
<div style="margin-right: 10px;"><i class="material-icons">link</i><a href="https://www.ncbi.nlm.nih.gov/pubmed/31034071">Complicated Withdrawal Phenomena During Benzodiazepine Cessation in Older Adults</a></div>
<div style="margin-right: 10px;"><i class="material-icons">link</i><a href="doctors-article/3">カサンドラの遺書「メディカルメッセージ」</a></div>
<div style="margin-right: 10px;"><i class="material-icons">link</i><a href="http://benzobuddies.org/forum/index.php">ベンゾバディ</a></div>
  <br><br><br><br>
</div>
</body>
