<div *ngIf="(user | async) || {} as user">
    <div *ngIf="user.uid; else notLoggedIn" style="width:350px; margin: 0 auto;">
      <!-- 認証されている場合 -->
      <p>ログイン中。uid: {{user.uid}}</p>
      <button mat-flat-button color="accent" (click)="logout()">ログアウト</button>
    </div>
    <ng-template #notLoggedIn>
        <!-- 認証されていない場合 -->
        <p style="width:300px; margin: 0 auto;">書き込みする場合は下記いずれかの方法でサインインしてください。</p>
    </ng-template>
  </div>

<firebase-ui
  (signInSuccessWithAuthResult)="successCallback($event)"
  (signInFailure)="errorCallback($event)">
</firebase-ui>

<br>
<br>