<!--コンテンツヘッダーを挿入-->
<app-contents-header></app-contents-header>
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->

<!--表示はmaterial2のmat-cardを利用している-->  
<div style="display:inline-flex; margin: 2px;" *ngFor="let item of doctorsarticles | async">
    <mat-card class="toppage-card">
        <mat-card-header>
            <div mat-card-avatar class="toppage-header-image"></div>
            <mat-card-title><a routerLink="/doctors-article/{{ item.num }}">{{ item.title }}</a></mat-card-title>
            <mat-card-subtitle>{{ item.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <p>
          <img src="{{ item.pictpath }}" width="150px" style="float:left;margin-right:10px;margin-bottom:10px">
          {{ item.feature }}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <a routerLink="/doctors-article/{{ item.num }}"><button mat-button>続きを読む</button></a>
        </mat-card-actions>
    </mat-card>
    </div>
    <br /> <br /> <br /> <br />