.post-box {
    border: gray solid 2px;
    padding: 1em;
    margin: 20px;
    width: 80%;
}

.haba {
    width: 100%;
  }
    
    
mat-form-field {
    width: 100%;
}

.user-box {
    border: 0px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    word-break: break-all;
    border-radius: 20px;
    background-color: aliceblue;
  }

  .admin-box {
    border: 0px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    word-break: break-all;
    border-radius: 20px;
    background-color: cornsilk;
    margin-bottom: 20px;
    /*margin: 0 auto;     0 auto; → .admin-boxを中央寄せにしてる */
  }

.pre-wrap {
    white-space: pre-wrap; 
}

.box{
  display: inline-block;
  font-size: 1em;
  margin:5px;
}

.boxContainer{
  font-size: 0;
}

.resizeimage img { width: 100%; }

mat-form-field {
  margin-right: 12px;
}