  <!--簡単なやり方だとInvalidPipeArgument: '[object Object]' for pipe 'AsyncPipe'というエラーで'| async'をつけない…-->
    <!--簡単なやり方だとなぜか*ngIf="post.uid=''"が使えない…-->

<body class="myContainerMain">
<div>
      <h1>{{ title }}</h1>

    ご質問、ご意見はこちらでご自由にどうぞ。わたしでお答えできることはお答えしますし、分からない・答えられない事などはそのように返答いたします。
    パキシルなどSSRIの離脱で苦労なさっている方もいますが、わたしはベンゾジアゼピンのことしかわかりません。
    以下の利用規約をかならずご覧の上ご利用なさってください。
    <ul>
      <li>
        完全匿名性とします。そして同一のニックネームをお使いください（複数ニックネームを使用して別人を演じても認証作業によって同一人物とわかるようになっています）
      </li>
      <li>
        宣伝、勧誘、商用サイトへのリンク、また<span style="color:crimson">反精神医療・薬物療法否定・アンチドクターを訴える投稿は削除</span>いたします。
      </li>
      <li>
        ここで投稿された情報の利用に関し当サイトは一切の責任を放棄します。<span style="color:crimson">必ず自己責任で判断してください</span>。
      </li>
      <li>
        薬事法違反になるため<span style="text-decoration: underline">個人的な服薬指示・減薬指導にはお答えできません</span>。
        また各自の症状や服薬歴などに対して推測や助言もできませんしわかりません。<span style="color:crimson">わたしの回答はあくまでベンゾに関する一般論での回答となります。</span>
        ご自分にあてはまるかどうか、かならず自己責任のもとご判断ください。
      </li>
      <li>
        減薬は必ず主治医の了解をとってから行ってください！
      </li>      
    </ul>
</div>
<br>

<ais-instantsearch [config]="searchConfig">
  <div class="boxContainer">
    <div class="box">
      <ais-search-box placeholder="質問フォーラム内検索" (change)="searchChanged($event)" style="font-size: small"></ais-search-box>
    </div>
    <div class="box">
      <button type="submit" mat-stroked-button color="primary" (click)="reset()">表示リセット</button>
    </div>
  </div>
   <br>
    <ais-hits *ngIf="showResults">
        <ng-template let-hits="hits">
            <div *ngFor="let hit of hits">
                <div *ngIf="hit.uid !== 'IvUOuDzmWNTBuicD0XhsQqzfAFY2'">
                    <div class="user-box pre-wrap"> 
                      投稿者：　<ais-highlight attribute="userName" [hit]="hit"></ais-highlight>
                      <br>
                      コメント：　<ais-highlight attribute="message" [hit]="hit"></ais-highlight>
                      <br>
                      日付：　<ais-highlight attribute="created" [hit]="hit"></ais-highlight>
                    </div>
                </div>
                <div *ngIf="hit.uid == 'IvUOuDzmWNTBuicD0XhsQqzfAFY2'">
                    <div class="admin-box pre-wrap"> 
                      投稿者：　<ais-highlight attribute="userName" [hit]="hit"></ais-highlight>
                      <br>
                      コメント：　<ais-highlight attribute="message" [hit]="hit"></ais-highlight>
                      <br>
                      日付：　<ais-highlight attribute="created" [hit]="hit"></ais-highlight>
                    </div>
                </div>
            </div>
        </ng-template>
    </ais-hits>
</ais-instantsearch>

<div *ngIf="!showResults"><!--*ngIf="!showResults"：Algoliaサーチボックスに何も検索ワードが入っていなかったら以下表示-->

<div class="boxContainer">
  <div class="box">
      <!--ページネーション↓-->
  <mat-paginator [length]="length"
  [pageSize]="perPage"
  [pageSizeOptions]="[10, 50, 100]"
  (page)="getPaginatorData($event)" 
  [showFirstLastButtons]="true"
  style="font-size: small;"
  >
  </mat-paginator>
  </div>
  <div class="box">
    <a pageScroll href="#abc"><i class="material-icons">comment</i><span style="color:slateblue;text-decoration: underline;">投稿フォームへ</span></a>
  </div>
</div>

  <div style="display:inline-block; width: 100%" *ngFor="let post of posts | async | slice: lowValue : highValue">
      <div *ngIf="post.uid !== 'IvUOuDzmWNTBuicD0XhsQqzfAFY2'">
        <div class="user-box pre-wrap">
        <p>名前：{{ post.userName }}</p>
        <p [innerHTML]="post.message | safe: 'html'"></p> <!--safe.pipe効かない…？？？-->
        <p style="text-align:right; font-size: smaller">投稿No.{{ post.id }}</p>
        <p style="text-align:right; font-size: smaller">投稿日時：{{ post.created }}</p>
        <p style="text-align:right; font-size: smaller; visibility:hidden">UID: {{post.uid}}</p> <!--visiblity:hiddenを外せば表示される-->
            <div *ngIf="(user | async) || {} as user">
              <p *ngIf="user.uid == 'IvUOuDzmWNTBuicD0XhsQqzfAFY2'">
                  <button mat-raised-button (click)="openDialog(post)">編集</button>
              </p>
            </div>
        </div>
      </div>
      <div *ngIf="post.uid == 'IvUOuDzmWNTBuicD0XhsQqzfAFY2'">
          <div class="admin-box pre-wrap">
          <p>名前：{{ post.userName }}</p>
          <p [innerHTML]="post.message | safe: 'html'"></p> <!--safe.pipe効かない…？？？-->
          <p style="text-align:right; font-size: smaller">投稿No.{{ post.id }}</p>
          <p style="text-align:right; font-size: smaller">投稿日時：{{ post.created }}</p>
          <p style="text-align:right; font-size: smaller; visibility:hidden">UID: {{post.uid}}</p>
            <div *ngIf="(user | async) || {} as user">
              <p *ngIf="user.uid == 'IvUOuDzmWNTBuicD0XhsQqzfAFY2'">
                  <button mat-raised-button (click)="openDialog(post)">編集</button>
              </p>
            </div>
          </div>
        </div>
  </div>
</div><!--*ngIf="!showResults"：Algoliaサーチボックスに何も検索ワードが入っていなかったら以下表示、ここまで-->

<span id="abc" style="margin-bottom: 100px"></span>
<i class="material-icons">comment</i>投稿フォーム

<div *ngIf="(user | async) || {} as user">  
  <div *ngIf="user.uid; else notLoggedIn" class="post-box">
     <form #f="ngForm" (ngSubmit)="addPost()" name="form">       
        <mat-form-field>
               <mat-label>名前</mat-label>
                 <input matInput placeholder="ハンドルネーム" name="userName" required [(ngModel)]="userName">
       </mat-form-field>
       <br>
       <mat-form-field>
               <mat-label>コメント</mat-label>
                 <textarea class="textarea" matInput cdkTextareaAutosize cdkAutosizeMaxRows="100" cdkAutosizeMinRows="10" width="100%" placeholder="※ 各自の症状や服薬歴などに対して推測や助言はできません。わたしの回答はあくまで一般論での回答となります。 ご自分にあてはまるかどうか必ず自己責任のもとご判断ください" name="message" required [(ngModel)]="message"></textarea>
       </mat-form-field>
            <button type="submit" mat-flat-button color="accent" [disabled]="!f.form.valid">投稿</button>
    </form>
    <p>投稿が終わったらログアウトボタンをクリックしてログアウトしてください<img src="../../../assets/images/pointer.png"></p>
      <button mat-flat-button color="warn" (click)="logout()">ログアウト</button>
  </div>
  <ng-template #notLoggedIn>
      <!-- 認証されていない場合 -->
    <div class="post-box">
      <p style="margin: 0 auto;">書き込みする場合はサインイン（認証作業）してください。下の白いボタン[Continue as guest]を
      ワンクリックするだけで投稿可能となります。</p>
      <firebase-ui>
          (signInSuccessWithAuthResult)="successCallback($event)"
          (signInFailure)="errorCallback($event)">
      </firebase-ui>
    </div>
  </ng-template>
</div>


<br><br><hr><br>

<div class="post-box">
      <h2>投稿方法</h2>
      <p>とても簡単な作業ですが投稿に必要なサインインの作業方法を説明します。
        この作業は<strong>スパム投稿の防止と管理人の承認作業の省略</strong>のために導入しました。</p>
        基本的にはContinue as guestという白いボタンをクリックするだけで投稿可能になります。何も入力する必要はありません。
        ゲスト認証と呼ばれます。
        <br><img src='../../../assets/images/Forum_button2.png' width="200px"><br>
        クリック後、以下のように投稿入力フォームが出現しますのでそのまま投稿してください。<br>
        <br><img src='../../../assets/images/Forum_email3.png' width="300px">
        <br>入力し[投稿]ボタンをクリックですぐに反映されます。終りましたら赤い[ログアウト]ボタンをクリックしてログアウト。
        <br><br>【おわり】
        <br>
</div>
  <br />
  <br />
  <br />
</body>