.post-box {
    border: gray solid 2px;
    padding: 1em;
    margin: 20px;
    width: 80%;
}

.haba {
    width: 100%;
  }
    
    
mat-form-field {
    width: 100%;
}

.user-box {
    border: 0px;
    width: 70%;
    min-height: 100px;
    padding: 10px;
    margin:10px;
    word-break: break-all;
    border-radius: 20px;
    background-color: aliceblue;
  }

  .admin-box {
    border: 0px;
    width: 70%;
    min-height: 100px;
    padding: 10px;
    word-break: break-all;
    border-radius: 20px;
    background-color: cornsilk;
    margin: 0 auto;   /*  0 auto; → .admin-boxを中央寄せにしてる */
  }

.pre-wrap {
    white-space: pre-wrap; 
}

.introduction-card {
  max-width: 80%; max-width: 1024px;
}

.introduction-header-image {
  background-image: url('../../../assets/images/flower-avatar.jpg');
  background-size: cover;
}