<!--コンテンツヘッダーを挿入-->
<!--コンテンツヘッダーのクラス"contents-container"の定義はすべてcontents-header.cssにある-->


<body class="myContainerMain">
  <h1>{{ title }}</h1>
    <h2><b>Benzodiazepines available in Japan</b></h2>
    <table bgcolor="#F8F8FF" border="1" cellpadding="5" cellspacing="0">
      <tbody>
        <tr>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif"><b>Benzodiazepines</b></font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif"><b>Half-life (hrs)<sup>1</sup><br>
          [active metabolite]</b></font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif"><b>Market Aim<sup>2</sup></b></font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif"><b>Approximately Equivalent<br>
          Oral dosages (mg)<sup>3</sup></b></font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Alprazolam (Xanax, Solanax<b><sup>7</sup></b>, Constan<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">6-12</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">0.5</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Bromazepam (Lexotan, Lexomil)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10-20</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">5-6</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Brotizolam (Lendormin)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">7</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">0.25</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Chlordiazepoxide (Librium)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">5-30 [36-200]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">25</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Clobazam (Frisium, Mystan)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">12-60</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a,e</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Clonazepam (Klonopin, Rivotril<b><sup>7</sup></b>, Landsen<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">18-50</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a,e</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">0.5</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Clorazepate (Tranxene, Mendon<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">[36-200]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">15</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Diazepam (Valium, Cercine<b><sup>7</sup></b>, Horizon<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20-100 [36-200]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Estazolam (ProSom, Eurodin<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10-24</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1-2</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Etizoram (depas)<span style="font-weight:bold;"><sup><span style="color:#ff0000;">5</span>,6</sup></span></font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">6</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1.5</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Ethyl loflazepate (Meilax)<span style="font-weight:bold;"><sup>6</sup></span></font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">122</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1.67</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Flunitrazepam (Rohypnol, Silece<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">18-26 [36-200]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Flurazepam (Dalmane, Dalmate)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">[40-250]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">15-30</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Halazepam (Paxipam)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">[30-100]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Ketazolam (Anxon)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">30-100 [36-200]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">15-30</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Loprazolam (Dormonoct)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">6-12</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1-2</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Lorazepam (Ativan, Wypax<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10-20</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Lormetazepam (Noctamid,Evamir<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10-12</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">1-2</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Medazepam (Nobrium, Resmit<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">36-200</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Nitrazepam (Mogadon, Benzalin<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">15-38</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Nordazepam (Nordaz, Calmday)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">36-200</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Oxazepam (Serax, Serenid, Serepax, Serenal<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">4-15</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Prazepam (Centrax, Sedapran)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">[36-200]</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10-20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Quazepam (Doral)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">25-100</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Rilmazafone (Rhythmy)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">10.5</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">2</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Temazepam (Restoril, Normison, Euhypnos)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">8-22</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Tofisopam (GRANDAXIN<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">0.8</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">a</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">125</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Triazolam (Halcion)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">2</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">0.5</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif"><b>Anti-benzodiazepines with similar effects<sup>4</sup></b></font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">&nbsp;</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">&nbsp;</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">&nbsp;</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Zaleplon (Sonata)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">2</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Zolpidem (Ambien, Stilnoct, Myslee<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">2</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">20</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Zopiclone (Zimovane, Imovane, Amoban<b><sup>7</sup></b>)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">5-6</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">15</font>
          </td>
        </tr>
        <tr>
          <td style="font-size:0.93em;"><font face="verdana, arial, helvetica, sans-serif">Eszopiclone (Lunesta)</font></td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">6 (9 in elderly)</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">h</font>
          </td>
          <td style="font-size:0.93em;">
          <font face="verdana, arial, helvetica, sans-serif">3</font>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div>
      <ol>
        <li>
        <p>Half-life: time taken for blood concentration to fall to half its peak value after a single dose. Half-life of active metabolite shown in square brackets. This time may vary considerably between individuals.</p></li>
        <li>
        <p>Market aim: although all benzodiazepines have similar actions, they are usually marketed as anxiolytics (a), hypnotics (h) or anticonvulsants (e).</p></li>
        <li>
        <p>These equivalents do not agree with those used by some authors. They are firmly based on clinical experience but may vary between individuals.</p></li>
        <li>
        <p>These drugs are chemically different from benzodiazepines but have the same effects on the body and act by the same mechanisms.</p></li>
        <li>
        <p>This drug is thienotriazolodiazepine but have the same effects as benzodiazepines <span style="color:#ff0000;">WITH HIGHEST MARKET SHARE IN JAPAN</span>.</p></li>
        <li>
        <p>Popular benzos specifically in Japan, not widely spread outside Japan.</p></li>
        <li>
        <p>The market name available in Japan only.</p></li>
      </ol>
      </div>
      <br>
   <div style="display:inline">Reference: <a href="http://www.benzo-case-japan.com/benzodiazepines-english.php" target="_blank">Benzo Case Japan</a>&nbsp;, and added Japan's popular&nbsp;benzos and market names ([5], [6], [7])</div> 
   <br />
   <br>
<!--id="TwitterSharebutton"はツイッターシェアボタンのためのid. introduction.component.ts参照 -->
<table border="0">
    <tbody>    
      <tr>
        <td id="beforeTwitterSharebutton"></td>
        <!--ここにTwitterボタン.<td style="font-size:0.93em;">タグもintroduction.component.ts内のスクリプトで作ります-->
      </tr>
    </tbody>
  </table>
    <br />
    <br />
    <br />
</body>
