<body class="myContainerMain">
<div class="container"> 
  <h1>ベンゾジアゼピン関連用語集</h1>
  <mat-list>
      <mat-list-item> 非ベンゾ </mat-list-item>
        <div style="margin-left: 30px">ベンゾジアゼピン系薬はGABA受容体のサブユニットα1とγに作用します。
        結果，催眠作用、抗不安作用、そして筋弛緩作用が期待できます。いっぽうで非ベンゾ（非ベンゾジアゼピン系薬。英語でもanti-benzodiazepineと言います）は、
        α1のほうのみに選択的に作用するので催眠作用だけを期待した睡眠薬としては通常のベンゾジアゼピン系睡眠薬よりも利点があります。
        薬剤の種類としてはゾルピデム（マイスリー）、ゾピクロン（アモバン）、エスゾピクロン（ルネスタ）などがそうです。作用機序はベンゾと同じなので、この「非」という字は“ベンゾにあらず”ということではありません。
        本当の意味で“ベンゾにあらず”、つまりGABA受容体に作用しない睡眠薬としてはベルソムラ（オレキシン受容体作動薬）、ロゼレム（メラトニン受容体作動薬）があります。
        </div>
      <mat-list-item> 副作用 </mat-list-item>
        <div style="margin-left: 30px">副作用とは文字通り薬を飲むことによって生じる副反応です。ベンゾジアゼピンの場合ですと、転倒や健忘、夜中の徘徊などがあります。
          PMDA（医薬品医療機器総合機構）は離脱症状もひっくるめて副作用情報を受け付けていますが、副作用は服用中に生じた副反応(side effect)、離脱症状はクスリをやめることで起きる
          退薬症状または禁断症状に近いものととらえるべきです。
        </div>
      <mat-list-item> 離脱症状 </mat-list-item>
        <div style="margin-left: 30px">ベンゾジアゼピンの服薬を止める、または減らすことで発生する症状を離脱症状（Widthdrawal Syndrome)といいます。
          また、服薬中であっても耐性がついてしまい、服薬量を変えていないのにも関わらずベンゾが効かなくなることによって発生する離脱症状を常用量離脱（tolerence widthdrawal syndrome)といいます。
        </div>
      <mat-list-item> 遷延性離脱症状 </mat-list-item>
        <div style="margin-left: 30px">断薬した後にも通常離脱症状はすぐになくならず、特に減薬期間を十分に設けなかった場合には数年に及びます。それを遷延性離脱症状といいます。時には１０年、２０年と続くこともあり、
          後遺症との線引きはムツカシイです。十分な数年以上の減薬期間を設ければ遷延性離脱症状に陥る可能性は低くなります。
        </div> 
      <mat-list-item> 力価 </mat-list-item>
        <div style="margin-left: 30px">薬剤の強さのことをいいます。ベンゾジアゼピン系薬剤の場合は次に説明する「<a routerLink="/basics/benzolist">ジアゼパム換算値</a>」というもので測ります。
        </div> 
      <mat-list-item> ジアゼパム換算 </mat-list-item>
        <div style="margin-left: 30px">ベンゾジアゼピン系薬剤の力価を測るのにジアゼパム換算値を用います。<a routerLink="/basics/benzolist" target="_blank">こちらの表</a>をごらんください。
          一番上に、一般名「ジアゼパム」があります。ジアゼパム5mgに対して、同じ作用強度を期待するにはどの程度のmgを服用すればいいか、が右端の<span class=myRed>等価量（経口）</span>の数字になります。
          例えばジアゼパムのすぐ下には「アルプラゾラム」があります。アルプラゾラムの等価量は0.25mgとなっています（アシュトン値）。つまり、アルプラゾラム0.25mgとジアゼパム5mgは同じ強さになるということです。
          ざっくり言えば、この数字が小さいほど強いクスリであるということです。日本ではよく「弱いクスリですから」とドクターに言われて処方されてきたデパス、そのジアゼパム換算値は1.5です。かなり強い薬であったというわけです。
          ジアゼパム換算値は薬理的な根拠があって作られた数値ではなく、人の体感で決められているようです。従っていくつも種類がありあくまで目安です。
        </div> 
      <mat-list-item> 半減期 </mat-list-item>
        <div style="margin-left: 30px">やはり<a routerLink="/basics/benzolist" target="_blank">同じ表</a>に「半減期[活性代謝物]」の欄があります。単位は時間です。薬剤の血中濃度が服薬してから半分になるまでどのくらいの時間がかかるか、を示しています。
          さきほどのジアゼパムは20~100時間となっています。代謝には個人差があるのでこのような表記になってしまうのですが、ジアゼパムはかなり長い半減期を持ち、体内にとどまる時間が長い薬ということになります。
          おなじくすぐ下のアルプラゾラムは6~12となっています。半日もしないうちにすぐ体から出て行ってしまう、いわば短期作用型のベンゾといえます。
        </div> 
      <mat-list-item> テーパリング </mat-list-item>
        <div style="margin-left: 30px">
          tapering. 直訳すると“先細り”。減薬手法のことで、コーンの形のように徐々に先細るように減薬していくやり方です。ですので服薬量は2次曲線を描くように０に近づいていきます。
        </div> 
      <mat-list-item> マイクロテーパリング </mat-list-item>
        <div style="margin-left: 30px">
          テーパリングと同義ですが、一度に減薬する量をかなり小幅にして減らしていくやり方です。たとえばレキソタン10mgを減らす際に、1か月に10%づつ、ですと10%減薬をする日はかなりドキドキです。
          その代わり、2~3日に1%づつであれば気持ちも脳神経にもあまりダメージを与えないという考え方で、微量づつの減薬になるため「マイクロ」テーパリングと呼びます。
        </div> 
      <mat-list-item> 水溶液タイトレーション </mat-list-item>
      <div style="margin-left: 30px">
          マイクロテーパリングのやり方ですが、２つ方法があります。ひとつは水溶液タイトレーションです。100mlの水、または牛乳などに錠剤を溶かし、1%減薬するのであればそこから1mlシリンジで抜いて残りの99ml
          を飲めばいいです。詳しいやり方は<a routerLink="/patients/1" target="_blank">水溶液タイトレーションのページ</a>をご覧ください。また水なり牛乳なりに錠剤を溶かして服薬すると稀に薬効が効かない人がいます。
          水溶液で服用しても薬効があることを必ず確認してから水溶液タイトレーションで減薬を行うことをお勧めします。
      </div> 
      <mat-list-item> ドライカット </mat-list-item>
      <div style="margin-left: 30px">
        マイクロテーパリングのやり方のもうひとつの方法です。錠剤をヤスリで削るか薬局でパウダーに細粉してもらって、測りで重さを測って減らしていく方法です。
        秤（はかり）は数千円で買えます。細粉パウダーは乳糖を足してかさ上げできるのでこちらでもマイクロテーパリングは可能です。
      </div> 
      <mat-list-item> アシュトンマニュアル </mat-list-item>
      <div style="margin-left: 30px">
        クリスタル・ヘザー・アシュトンというイギリスの精神科医によって2002年編纂されたベンゾジアゼピン系薬剤の作用・離脱機序および離脱方法をまとめたマニュアル。
        正式には“ベンゾジアゼピン - それはどのように作用し、離脱するにはどうすればよいか”。日本では2012年に日本語版がウェイン・ダグラス氏などの有志によって作成されインターネットでダウンロードできます。
        <a href="https://www.benzo.org.uk/amisc/japan.pdf">アシュトンマニュアル日本語版</a>
        公的なガイドラインではないが、ベンゾジアゼピンの依存や減薬に長年、関わってきたアシュトン教授によって世界で初めてまとめられた減薬マニュアルとなっており、以後、
        世界中のベンゾ減薬者にとってバイブル的な存在となっています。アシュトン教授は現在はすでに引退。ニューカッスル大学神経科学研究所名誉教授。
      </div> 
      <mat-list-item> キンドリング </mat-list-item>
      <div style="margin-left: 30px">
        kindling。直訳すると“燃えあがる”という意味で、医療用語としてはいろいろな用途で使われているようです。ことベンゾ減薬に関しては次のような状態を言います。「ベンゾジアゼピン減薬は数年かけて少しづつおこなうことが最も安全であるゆえ、
        急激に半分に減らす、などすると激しい離脱症状に耐えられず多くの場合もとの用量に戻すことになる。
        その後、再び前回と同じように半分、または4分の1などおよそテーパリング減薬とは程遠い大雑把な減薬を試しては元に戻す、大雑把な減薬を試しては元に戻す・・・を繰り返していると、最終的に
        ベンゾの薬効がなくなってしまう。つまり元の用量に戻そうが増薬しようがまるで効果がなく、一気断薬と同じような状態になってしまう。」ざっくり言えばこのような状態をキンドリングと呼びます。
      </div> 
  </mat-list>

  <br>
  <br>
  <br>
</div>
</body>