<!--ヘッダ-->
<mat-toolbar
    color="primary"
    style="position:fixed;top:0;left:0;height:fit-content;width: 100%; max-width:1024px;background: primary; 
     box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);z-index: 2;"
>
    <!--上のbox-shadowはmat-toolbarの下に影をつけている。-->


<!--ヘッダ１段目のtoolbar-row-->
<!--mat-toolbar-row-word-wrapのCSSはroot.component.cssを参照。コンテンツを自動で枠内で折り返す-->
  <mat-toolbar-row class="mat-toolbar-row-word-wrap"
    color="">
    <button mat-icon-button
        [matMenuTriggerFor]="menu"
        color="accent">
      <mat-icon>menu</mat-icon>
    </button>

  <!--ヘッダータイトルとベンゾインフォジャパンの表示-->
  <!--1列のmat-toolbarで右寄りになってしまう文字列を適度な位置にする方法：class="fill-remaining-space"のCSSにはflex: 1 1 auto;とする-->
  <h1>【最大薬害】睡眠薬・精神安定剤 処方量依存</h1>
  <span class="fill-remaining-space"></span>
  <span style="font-size:small;">ベンゾインフォジャパン</span>

  <!--3本線のバーガーメニュー-->
    <mat-menu #menu="matMenu">
       <button mat-menu-item
            (click)="goHome()">
            <span>ホーム</span>
       </button>

       <button mat-menu-item
            (click)="goIntroduction()">
            <span>ベンゾジアゼピン概略</span>
        </button>

        <button mat-menu-item
            (click)="goBasics()">
            <span>ベンゾ一般知識</span>
        </button>

        <button mat-menu-item
            (click)="goPatients()">
            <span>患者(被害者)の方へ</span>
        </button>

        <button mat-menu-item
            (click)="goDoctors()">
            <span>ドクターの方へ</span>
        </button>

        <button mat-menu-item
            (click)="goMedias()">
             <span>メディアの方へ</span>
        </button>
    </mat-menu>
  </mat-toolbar-row>


  <!--ヘッダ2段目のtoolbar-row-->
   <mat-toolbar-row 
    style="position:relative;left:0;height:fit-content;width: 100%; max-width:1024px; z-index: 2;"
        color="">
            <div>
                <button mat-button (click)="goHome()"><mat-icon>home</mat-icon></button>
                <button mat-button (click)="goIntroduction()">ベンゾジアゼピン概略</button>
                <button mat-button (click)="goBasics()">ベンゾ一般知識</button>
                <button mat-button (click)="goPatients()">患者(被害者)の方へ</button>
                <button mat-button (click)="goDoctors()">ドクターの方へ</button>
                <button mat-button (click)="goMedias()">メディアの方へ</button>
              </div>
   </mat-toolbar-row>
</mat-toolbar>
  


  

<!--コンテンツ挿入場所。上ヘッダー部分140pxあける-->
  <div style="position:absolute;top:140px;left:0px; width: 100%; max-width:1024px; ">
    <router-outlet class="myContainerMain"></router-outlet>
  </div>



<!--フッター-->
<mat-toolbar
    color="primary"
    style="position:fixed;bottom:0;left:0;height:30px;width: 100%; max-width:1024px; z-index: 2; justify-content: center"
>
    <div id="footer">
        <span>Copyright © benzoinfojapan</span>
    </div>
</mat-toolbar>


