/* このCSSでコンテンツを自動で枠内で折り返す。height: initial !important;とword-wrap: break-word !important;とwhite-space: pre-wrap !important; */
.mat-toolbar-row.mat-toolbar-row-word-wrap {
    height: initial !important;
    margin: 2px;
    padding-bottom: 5px;
  }
  .mat-toolbar-row-word-wrap .mat-line {
    word-wrap: break-word !important; 
    white-space: pre-wrap !important;
    font-size: 0.8em;
    color: wheat;
  }

  .fill-remaining-space {
    /* このCSSでフレックスに空白を埋める. */
    flex: 1 1 auto;
  }


  #footerfont{
    text-align: right;
    color:white;
    font-size: 0.7em;
    font-family: 'Courier New', Courier, monospaceYuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;   /* 真ん中らへんにもってくる */
}

.box{
  display: flex;
  font-size: 1em;
  margin:5px;
}

.boxContainer{
  font-size: 0;
}

/* sidenav */
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 2px;
  font-size: medium;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}