/* このCSSでコンテンツを自動で枠内で折り返す。height: initial !important;とword-wrap: break-word !important;とwhite-space: pre-wrap !important; */
.mat-toolbar-row.mat-toolbar-row-word-wrap {
    height: initial !important;
    margin: 2px;
    padding-bottom: 5px;
  }
  .mat-toolbar-row-word-wrap .mat-line {
    word-wrap: break-word !important; 
    white-space: pre-wrap !important;
    font-size: 0.8em;
    color: wheat;
  }

  .fill-remaining-space {
    /* このCSSでフレックスに空白を埋める. */
    flex: 1 1 auto;
  }


  #footer{
    text-align: right;
    color:white;
    font-size: 0.7em;
    font-family: 'Courier New', Courier, monospaceYuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;   /* 真ん中らへんにもってくる */
}

.box{
  display: flex;
  font-size: 1em;
  margin:5px;
}

.boxContainer{
  font-size: 0;
}