<!--ヘッダ-->
<mat-toolbar
    color="primary"
    style="position:fixed;top:0;left:0;height:fit-content;width: 100%;background: primary; 
     box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);z-index: 2;"
>
    <!--上のbox-shadowはmat-toolbarの下に影をつけている。-->

<!--PC用1段目toolba-row-->
  <!-- div fxShow="true" fxHide.lt-sm="true" -->
    <mat-toolbar-row class="mat-toolbar-row-word-wrap" color=""><!--mat-toolbar-row-word-wrapのCSSはroot.component.cssを参照。コンテンツを自動で枠内で折り返す-->

      <!--3本線のバーガーメニュー-->
      <button mat-icon-button [matMenuTriggerFor]="menu" color="accent"><mat-icon>menu</mat-icon></button>

  
          <h1>ベンゾジアゼピン情報センター</h1>
    <span fxShow="true" fxHide.lt-sm="true">
          <h2 style="font-size: medium; margin-left:30px; margin-right: 50px">睡眠薬の被害実態と安全な減薬方法</h2>
    </span>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goHome()">Home</button>

        <button mat-menu-item (click)="goIntroduction()">ベンゾジアゼピン概略</button>

        <button mat-menu-item (click)="goIntroductioneng()">summary of benzodiazepine</button>

        <button mat-menu-item [matMenuTriggerFor]="basics">ベンゾ一般知識</button>
          <mat-menu #basics="matMenu">
            <button mat-menu-item (click)="goBasics()">●ベンゾ一般知識 － トップ</button> 
            <button mat-menu-item (click)="goBenzolist()">ジアゼパム換算表</button>
            <button mat-menu-item (click)="goBenzolisteng()">Benzodiazepines List and Equivalents</button>                  
            <button mat-menu-item (click)="goHistory()">ベンゾジアゼピン歴史</button>
            <button mat-menu-item (click)="goWords()">用語集</button>
            <button mat-menu-item (click)="goWithdrawalsymptoms()">離脱症状一覧(withdrawal syndromes)</button>
          </mat-menu>

        <button mat-menu-item [matMenuTriggerFor]="patients">患者(被害者)の方へ</button>
          <mat-menu #patients="matMenu">
            <button mat-menu-item (click)="goPatients()">●患者(被害者)の方へ － トップ</button>
            <!-- button mat-menu-item *ngFor="let item of patientsarticles | async" (click)="goPatAnother(item)">{{ item.title }}<button> -->
          </mat-menu>

        <button mat-menu-item [matMenuTriggerFor]="doctors">ドクターの方へ</button>
          <mat-menu #doctors="matMenu">
            <button mat-menu-item (click)="goDoctors()">●ドクターの方へ － トップ</button>
            <!-- button mat-menu-item *ngFor="let item of doctorsarticles | async" (click)="goDocAnother(item)">{{ item.title }}</button> -->
          </mat-menu>

        <button mat-menu-item [matMenuTriggerFor]="medias">メディアの方へ</button>
          <mat-menu #medias="matMenu">
            <button mat-menu-item (click)="goMedias()">●メディアの方へ － トップ</button>
            <!-- button mat-menu-item *ngFor="let item of mediasarticles | async" (click)="goMedAnother(item)">{{ item.title }}</!-- button> -->
          </mat-menu>

          <a href="https://benzofaq.com/" target="_blank"><button mat-menu-item>質問フォーラム</button></a>
    </mat-menu>
  </mat-toolbar-row>

<!-- /div -->
<!--PC用１段目toolba-rowここまで-->

<!--ヘッダ2段目のtoolbar-row-->

   <mat-toolbar-row 
    style="position:relative;left:0;height:fit-content;width: 100%; max-width:1024px; z-index: 2;" color="">
      <div fxShow="true" fxHide.lt-sm="true">
        <button mat-button (click)="goHome()"><mat-icon>home</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="summary">summary of benzodiazepine</button>
        <mat-menu #summary="matMenu">
           <button mat-menu-item (click)="goIntroductioneng()">summary of benzodiazepine</button>                  
           <button mat-menu-item (click)="goIntroduction()">ベンゾジアゼピン概略</button>
           <button mat-menu-item [matMenuTriggerFor]="basics" (click)="goBasics()">ベンゾ一般知識</button>
         </mat-menu>
         <mat-menu #basics="matMenu">
          <button mat-menu-item (click)="goBasics()">●ベンゾ一般知識 － トップ</button>
          <button mat-menu-item (click)="goBenzolist()">ジアゼパム換算表</button>
          <button mat-menu-item (click)="goBenzolisteng()">Benzodiazepines List and Equivalents</button>                 
          <button mat-menu-item (click)="goHistory()">ベンゾジアゼピン歴史</button>
          <button mat-menu-item (click)="goWords()">用語集</button>
          <button mat-menu-item (click)="goWithdrawalsymptoms()">離脱症状一覧 (BWS List)</button>
        </mat-menu>
        <button  mat-button (click)="goPatients()">患者(被害者)の方へ</button>
        <button  mat-button (click)="goDoctors()">ドクターの方へ</button>
        <button  mat-button (click)="goMedias()">メディアの方へ</button>
        <a href="https://benzofaq.com" target="_blank"><button mat-button><span style="color: white;">質問フォーラム</span></button></a>

              <!--
                <button mat-button (click)="goHome()"><mat-icon>home</mat-icon></button>
                <button mat-button [matMenuTriggerFor]="summary">summary of benzodiazepine</button>
                <mat-menu #summary="matMenu">
                   <button mat-menu-item (click)="goIntroductioneng()">summary of benzodiazepine</button>                  
                   <button mat-menu-item (click)="goIntroduction()">ベンゾジアゼピン概略</button>
                   <button mat-menu-item [matMenuTriggerFor]="basics" (click)="goBasics()">ベンゾ一般知識</button>
                 </mat-menu>
                 <mat-menu #basics="matMenu">
                  <button mat-menu-item (click)="goBasics()">●ベンゾ一般知識 － トップ</button>
                  <button mat-menu-item (click)="goBenzolist()">ジアゼパム換算表</button>
                  <button mat-menu-item (click)="goBenzolisteng()">Benzodiazepines List and Equivalents</button>                 
                  <button mat-menu-item (click)="goHistory()">ベンゾジアゼピン歴史</button>
                  <button mat-menu-item (click)="goWords()">用語集</button>
                  <button mat-menu-item (click)="goWithdrawalsymptoms()">離脱症状一覧 (BWS List)</button>
                </mat-menu>
                
                <button mat-button [matMenuTriggerFor]="patients">患者(被害者)の方へ</button>
                <mat-menu #patients="matMenu">
                  <button mat-menu-item (click)="goPatients()">●患者(被害者)の方へ － トップ</button>
                  <button mat-menu-item *ngFor="let item of patientsarticles | async" (click)="goPatAnother(item)">{{ item.title }}</button>
                </mat-menu>                
                <button mat-button [matMenuTriggerFor]="doctors">ドクターの方へ</button>
                <mat-menu #doctors="matMenu">
                  <button mat-menu-item (click)="goDoctors()">●ドクターの方へ － トップ</button>
                  <button mat-menu-item *ngFor="let item of doctorsarticles | async" (click)="goDocAnother(item)">{{ item.title }}</button>
                </mat-menu>                
                <button mat-button [matMenuTriggerFor]="medias">メディアの方へ</button>
                <mat-menu #medias="matMenu">
                  <button mat-menu-item (click)="goMedias()">●メディアの方へ － トップ</button>
                  <button mat-menu-item *ngFor="let item of mediasarticles | async" (click)="goMedAnother(item)">{{ item.title }}</button>
                </mat-menu>                
                <a href="https://benzofaq.com" target="_blank"><button mat-button><span style="color: white;">質問フォーラム</span></button></a>
              -->
          </div>
    </mat-toolbar-row>   

</mat-toolbar>
  


  

<!--コンテンツ挿入場所。上ヘッダー部分100pxあける-->
  <div style="position:absolute;top:100px;left:0px; width: 100%; max-width:1024px;">
    <!--↓グーグルカスタムサーチ検索ボックス-->
    <app-gcse-search></app-gcse-search>
    <!--↓メインコンテンツ-->
    <router-outlet></router-outlet>
  </div>



<!--フッター-->
<mat-toolbar
    color="primary"
    style="position:fixed;bottom:0;left:0;height:fit-content;width: 100%; z-index: 2; justify-content: center"
>
  <mat-toolbar-row>
      <table border="0" width="40px">
          <tbody>    
            <tr>
              <td id="beforeTwitterSharebutton"></td>
              <!--ここにTwitterボタン.<td>タグもintroduction.component.ts内のスクリプトで作ります-->
              <td>
                <a href="https://twitter.com/benzoinfojapan" target="_blank" alt="twitter">           
                  <img src="../../../assets/images/icons8-twitter-30x40.png" alt="睡眠薬は魔薬Twitterアイコン"> 
                </a>              
              </td>
            </tr>
          </tbody>
        </table>
       
    <span id="footerfont" style="margin-left: 5px;">
      <span fxShow="true" fxHide.lt-sm="true">
        <a href="https://twitter.com/benzoinfojapan" target="_blank" alt="睡眠薬は魔薬">
          @benzoinfojapan
        </a>
      </span>
        ☜ お問い合わせはツイッターへ<i class="material-icons">chat_bubble_outline</i>
    </span>
      <span fxShow="true" fxHide.lt-sm="true" id="footerfont" style="margin-left: 300px">Copyright 2020 © ベンゾインフォジャパン</span>
  </mat-toolbar-row>
</mat-toolbar>


