.basics-card {
    max-width: 290px;
    height: 450px;
  }

.basics-header-image {
    background-image: url('../../../assets/images/flower-avatar.jpg');
    background-size: cover;
 }

 .box{
  display: inline-block;
  font-size: 1em;
  margin:5px;
}

.boxContainer{
  font-size: 0;
}