<!--childコンポーネントのサマリをclass/basicschidren.tsにJson形式でデータ化。-->
<!--それをBASICSDATAとしてエキスポートしbasics.component.tsにてbasicsdata = BASICSDATA;でオブジェクト化した-->
<!--表示はmaterial2のmat-cardを利用している--> 
<body class="myContainerMain">
  <h1>ベンゾ一般知識</h1>
<div class="box-Container">
  <div class="box" style="display:inline-flex; margin: 2px;" *ngFor="let basics of basicsdata">
  <mat-card class="basics-card">
      <mat-card-header>
          <div mat-card-avatar class="basics-header-image"></div>
          <mat-card-title><a routerLink="{{ basics.url }}">{{ basics.title }}</a></mat-card-title>
          <mat-card-subtitle>{{ basics.date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <p>
        <img src="{{ basics.picture }}" width="150px" style="float:left;margin-right:10px;margin-bottom:10px">
        {{ basics.feature }}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="{{ basics.url }}" mat-button color="primary">続きを読む</button>
      </mat-card-actions>
  </mat-card>
  </div>
</div>
  <br /> <br /> <br /> <br />
</body>