.home-card {
    max-width: 100%; margin: 10px;
  }
  
  .home-header-image {
    background-image: url('../../../assets/images/flower-avatar.jpg');
    background-size: cover;
  }

  .box{
    display: inline-block;
    font-size: 1em;
    margin:5px;
  }
  
  .boxContainer{
    font-size: 0;
  }

  .resizeimage img { width: 100%; }



  /*googleカスタム検索用*/

  