<!--// EditDialogComponentはコメントの編集ボタンを押すと表示されるモーダル。そこでコメントを編集する。
// 事実上、違反投稿に「この投稿は削除しました」と管理者権限で書き込むために作った機能-->
<div class="myContainerMain">
<p>投稿者：{{data.userName}}のメッセージ編集</p>
<div class="post-box">
    <form #f="ngForm" (ngSubmit)="updatePost(data)" name="form">       
      <mat-form-field>
              <mat-label>コメント</mat-label>
                <textarea class="textarea" matInput cdkTextareaAutosize cdkAutosizeMaxRows="100" cdkAutosizeMinRows="10" width="100%" placeholder="コメント" name="message" required [(ngModel)]="message"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">更新</button>
   </form>
   <br>
   <!--formの外に出さないと、なぜか(ngSubmit)が効いてupdatePostしてしまう-->
   <button mat-raised-button (click)="onClickCloseButton()">閉じる</button>
</div>