.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.post-box {
  border: gray solid 2px;
  padding: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 500px;
}

.haba {
  width: 100%;
}
  
  
mat-form-field {
  width: 100%;
}
